* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

body {
  background-image: url(foodback.jpg);
}
.container {
  background-color: #fff;
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: rgba(195, 176, 145, 0.4) -5px 5px,
    rgba(195, 176, 145, 0.3) -10px 10px, rgba(195, 176, 145, 0.2) -15px 15px,
    rgba(195, 176, 145, 0.1) -20px 20px, rgba(195, 176, 145, 0.05) -25px 25px,
    rgba(143, 122, 89, 0.05) -30px 30px;
}

.container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: hwb(31 28% 10%);
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  font-size: 16px;
  color: aliceblue;
  background: linear-gradient(#fff, #7f7e7e),
    linear-gradient(to right, hwb(31 28% 10%), hsl(31, 31%, 42%));
  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 5px solid transparent;
}

.input-box button {
  padding: 15px 0;
  width: 25%;
  background-color: hwb(31 28% 10%);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
}
